body{
    color:white;
    background: black;
    
}
header {color: rgb(42, 122, 228); border-bottom: solid 2px rgb(42, 122, 228);
padding: 20px; font-size: 50px; }

p {font-size: 25px;}

iframe {
    width: 560px;
    height: 315px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
}